body {
	background-color #FF7F50; 
}

h1,h2 {
	font-family: Fontdiner+Swanky, cursive;
}

.portrait {
	border-radius: 100%;
	width: 200px;
}

a {
	text-decoration: none;
/*	font-family: 'Raleway'; */
	letter-spacing: 1px;
	font-size: 18px;
/*	color: #F15B31; */
	margin: 0 20px;
}

a:hover {
	border-color: white;
}

main {
	width: 850px;
	margin: 35px auto;
}

body {
	text-align: center;
	margin: 0;
}
