body {
	background-color: #FF7F50; 
	text-align: center;
	margin: 0;
}

h1,h2 {
	font-family: 'Fontdiner+Swanky', cursive;
	font-size: 30;
}

.portrait {
	border-radius: 100%;
	width: 200px;
}

a {
	text-decoration: none;
/*	font-family: 'Raleway'; */
/*	color: #F15B31; */
}

a:hover {
	border-color: white;
}

li {
	list-style: none;
	letter-spacing: 1px;
	font-size: 18px;
	margin: 0 20px;
}

main {
	width: 850px;
	margin: 35px auto;
}
